.image-container {
    position: 'relative';
}

.sun_image {
    position: absolute;
}

.image-container svg {
    position: relative;
    left: 0;
    top: 0;
    min-width: 750px;
    min-height: 750px;
    pointer-events: "none";
    z-index: 2;
}
.image-container svg polygon {
    cursor: "pointer"; 
    pointer-events: "all";
}