.backImage {
    background: url('/public/static/images/landing-background.jpg');
    background-size:100% 100%;
    background-repeat:repeat-x;

    z-index: 0;
}
.hero {
    background: rgba(51, 51, 51, 0.0);
    color: white;
    padding: 7rem 0 2rem 0;
    text-align: center;
    min-height: 40vh;
    z-index: 1;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #ff9900;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    box-shadow: rgba(0,0,0,0.4) 2px 2px 3px 3px, rgba(0,0,0,0.2) 2px 2px 3px 6px ;
}

.cta-button:hover {
    background-color: #cc7a00;
}

.features {
    background-color: rgba(51, 51, 51, 0.1);
    color: white;
    text-align: center;
    min-height: 42vh;
}

.features h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.features-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.feature-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    max-width: 300px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5), 2px 4px 8px rgba(0, 0, 0, 0.2), 2px 4px 12px rgba(0, 0, 0, 0.1);
}

.feature-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.feature-card p {
    font-size: 1rem;
    color: #666;
}

